<div class="card">
    <div class="card-header text-white bg-inverse">
        <i class="fa fa-envelope-o mr-3" aria-hidden="true"></i><strong>Contact</strong>
    </div>
    <div class="card-block bg-faded">
      Questions about the program should be directed to the <a href="mailto:{{ site.data.conference.program_chair_email }}">Program Chair <i class="fa fa-envelope-o" aria-hidden="true"></i>.</a><br>
      Questions about registration should be directed to <a href="mailto:office@combustioninstitute.org">the Combustion Institute <i class="fa fa-envelope-o" aria-hidden="true"></i>.</a><br>

      If you have any problems or questions with this website, please contact us via e-mail at
      <a href="mailto:{{ site.data.conference.email }}">
          {{ site.data.conference.email }} <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a>
    </div></div>
