<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-xl-1 col-xl-10 offset-xl-1">
        {% include header.html %}

        <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-2 mb-xs-2 mb-sm-2">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-justify conference-text">
                {{ content }}
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <!--######### important dates ##########-->
                {% include card-important-dates.html %}
                <!--####################################-->
                <!--######### news #####################-->
                {% include card-news.html %}
              </div>
            </div>

            <h5>Organization</h5>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <!--######### Host ##########-->
                  <div class="card">
                      <div class="card-header text-white bg-inverse"><strong>Host Committee</strong></div>
                      {% if site.data.conference.host_committee %}
                      {% for person in site.data.conference.host_committee %}
                      <div class="card-block bg-faded committee">
                          <p><a href="mailto:{{ person.email }}"><strong>{{ person.name }}</strong></a><p>
                          <p class="card-subtitle text-muted" style="font-size: 90%;">{{ person.org }}</p>
                      </div>
                      {% endfor %}
                      {% else %}
                      <div class="card-block bg-faded committee">
                          <p><strong>TBA</strong><p>
                          <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                      </div>
                      {% endif %}
                  </div>

                  <!--######### Program Chairs ##########-->
                  <div class="card">
                      <div class="card-header text-white bg-inverse"><strong>Program Chair</strong></div>
                      {% if site.data.conference.program_chairs %}
                      {% for person in site.data.conference.program_chairs %}
                       <div class="card-block bg-faded committee">
                          <p><a href="{{ person.homepage }}"><strong>{{ person.name }}</strong></a><p>
                          <p class="card-subtitle text-muted" style="font-size: 90%;">{{ person.org }}</p>
                      </div>
                      {% endfor %}
                      {% else %}
                      <div class="card-block bg-faded committee">
                          <p class="card-title">TBA</p>
                          <p><strong>TBA</strong><p>
                      </div>
                      {% endif %}
                  </div>
                  <!--####################################-->
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <!--######### TPC ##########-->
                  {% if site.data.conference.technical_program_committees %}
                  <div class="card">
                    <div class="card-header text-white bg-inverse"><strong>Technical Program Committee</strong></div>
                    {% for committee in site.data.conference.technical_program_committees %}
                     <div class="card-block bg-faded committee">
                        <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
                        <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <!--####################################-->

                  <!--######### webmaster ##########-->
                  <div class="card">
                      <div class="card-header text-white bg-inverse"><strong>Webmaster</strong></div>
                      {% if site.data.conference.webmaster %}
                      {% for committee in site.data.conference.webmaster %}
                       <div class="card-block bg-faded committee">
                          <p><a href="{{ committee.homepage }}"><strong>{{ committee.name }}</strong></a><p>
                          <p class="card-subtitle text-muted" style="font-size: 90%;">{{ committee.org }}</p>
                      </div>
                      {% endfor %}
                      {% else %}
                      <div class="card-block bg-faded committee">
                          <p><strong>TBA</strong><p>
                          <p class="card-subtitle text-muted" style="font-size: 90%;">TBA</p>
                      </div>
                      {% endif %}
                  </div>
                </div>

            </div>

          </div>
        </div>

        <div class="row mt-xs-0 mt-sm-0 mt-md-1 mt-lg-2 mt-xl-2 mb-xs-2 mb-sm-2">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">
            <!--####################################-->
            {% include contact-us.html %}
          </div>
        </div>

        {% include footer.html %}
      </div>
    </div>

  {% include foot.html %}

</body>

</html>
